{% extends 'base.html.twig' %}

{% block title %}Cadeaux{% endblock %}

{% block body %}
    <h1>Cadeaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cadeaux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cadeaux.nom }}</td>
            </tr>
            <tr>
                <th>AgeParfait</th>
                <td>{{ cadeaux.ageParfait }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_gateaux_index') }}">back to list</a>

    <a href="{{ path('admin_gateaux_edit', {'id': cadeaux.id}) }}">edit</a>

    {{ include('admin_gateaux/_delete_form.html.twig') }}
{% endblock %}
